<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        {{ form }}
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
    var hoge;
    hoge = 123;
    var hoge; // エラーにならない
    
    let fuga;
    fuga  = 123;
    let fuga;
})
    </script>
</body>
</html>